
@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/index.js"></script>
}

<h2>Upload</h2>

<div id="msg"></div>

<form id="myForm">
    <input type="file" name="file" id="formFile" />
    <input type="button" id="submitBtn" value="アップロード" />
</form>
<br>
<form id="myForm2">
    <input type="text" name="imageId" id="imageId" />
    <input type="button" id="submitBtn2" value="実施" />
</form>

